<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDrBVb3C-qBPtyOlJDLf1_k6DAhD3CTsQI</string>
	<key>GCM_SENDER_ID</key>
	<string>946882202261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fbAuthProvider</string>
	<key>PROJECT_ID</key>
	<string>fb-auth-provide</string>
	<key>STORAGE_BUCKET</key>
	<string>fb-auth-provide.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946882202261:ios:f6bace57114cfd756ce99c</string>
</dict>
</plist>